/* messina styles, authored by brittany ansay */

/* fonts */

@font-face {
font-family: 'junctionRegular';
src: url('../font/Junction-webfont.eot');
src: url('../font/Junction-webfont.eot?#iefix') format('embedded-opentype'),
     url('../font/Junction-webfont.woff') format('woff'),
     url('../font/Junction-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body {
font-family: 'Georgia', serif;
color: #4c4c4c;
font-size: 100%;
padding:0;
margin:0;
}

h1, h2, h3 {
font-family: 'junctionRegular', Arial, sans-serif;
}

h1 {
	font-size: 1.875em;
	color: #2f2e46;
}

h2 {
	font-size: 1.25em;
	color: #4c4c4c;
}

/* global styles */

a {
text-decoration: none;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

/* structural elements */

.container {
width: 940px; 
position: relative; 
margin: 0 auto;
}


/* header */

header #logo {
background: url('../img/messina-logo.png');
background-repeat: no-repeat;
width: 222px;
height: 93px;
display: block;
position: relative;
margin: 40px auto;
}

/* navigation */
nav {
border-top: solid 1px #cfcfcf;
border-bottom: solid 1px #cfcfcf;
}

nav ul {
text-align: center;
}

nav ul li {
display: inline-block;
padding: 10px 20px;
}

nav ul li a, nav ul li a:link, nav ul li a:visited {
font-family: 'junctionRegular';
text-transform: uppercase;
color:#cfcfcf;
font-size: 1.125em;
letter-spacing: .05em;
padding-top: 11px;
}

nav ul li a:active, nav ul li a:hover {
color: black;
border-top: solid 3px black;
}

/* content div */

#content {
width: 700px;
float:left;
}

#content p {
-moz-column-count:2; /* Firefox */
-webkit-column-count:2; /* Safari and Chrome */
column-count:2;
-moz-column-gap:40px; /* Firefox */
-webkit-column-gap:40px; /* Safari and Chrome */
column-gap:40px;
}

/* sidebar div */

#sidebar {
width: 220px;
float:right;
}

#sidebar span {
	font-family: 'junctionRegular';
	font-size:1.125em;
	color:#2f2e46;
}



/* footer */
footer {
	clear:both;
}

/* clearfix and hidden */




.hidden {
position: fixed;
top:-999px;
}
