/* messina styles, authored by brittany ansay */

html, 
body {
	height:100%;
}

/* fonts */

@font-face {
	font-family: 'junctionRegular';
	src: url('../font/Junction-webfont.eot');
	src: url('../font/Junction-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../font/Junction-webfont.woff') format('woff'),
	     url('../font/Junction-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Georgia', serif;
	color: #4c4c4c;
	font-size: 100%;
	padding:0;
	margin:0;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'junctionRegular', Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.875em;
	color: #2f2e46;
	margin: 0 auto 30px;
}

h2 {
	font-size: 1.25em;
	color: #4c4c4c;
	margin: 0 auto 25px;
}

/* global styles */

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0 auto 40px;
}

/* structural elements */

.container {
	width: 940px; 
	position: relative; 
	margin: 0 auto;
}

/* header */

#logo-header {
	background: url('../img/messina-logo.png');
	background-repeat: no-repeat;
	width: 222px;
	height: 93px;
	display: block;
	position: relative;
	margin: 30px auto 20px;
}

/* navigation */
nav {
	border-bottom: solid 1px #cfcfcf;
	border-top: solid 1px #cfcfcf;
	text-align: center;
}

nav li {
	display: inline-block;
	padding: 10px 24px;
}

nav li a, 
nav li a:link, 
nav li a:visited {
	color:#cfcfcf;
	font-family: 'junctionRegular';
	font-size: 1.125em;
	letter-spacing: .05em;
	padding: 11px 0;
	text-transform: uppercase;
}

nav li a:active, nav ul li a:hover {
	color: black;
	border-top: solid 3px black;
}

/* sidebar div */

#sidebar {
	width: 220px;
	float: right;
}

.title {
	font-family: 'junctionRegular';
	font-size: 1.125em;
	color: #2f2e46;
	margin-bottom: 10px;
}

#sidebar ul {
	margin-top: 5px;
}

#sidebar li, 
#sidebar li a, 
#sidebar li:before {
	color: #aaa9ba;
}

#sidebar li:nth-of-type(1) {
	border-top: solid 1px #aaa9ba;
}

/* main content section */

#page {
	margin-top: 40px;
	min-height: 100%;
	height: auto;
}

#page:after {
	display: table;
	clear: both;
	content:"";
}

/* content div */

#content {
	width: 700px;
	float: left;
}

#content p {
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
    text-align: justify;
    padding-right: 40px;
}



/* sub navigation special features */


#sidebar li a, 
#sidebar li a:link, 
#sidebar li a:visited,
footer li, 
footer li a, 
footer li a:link, 
footer li a:visited {
	line-height: 2.25em;
	font-style: italic;
	text-transform: capitalize;
	font-size:1em;
}

#sidebar li:hover:before, 
#sidebar li:active:before,
footer li:hover:before,
footer li:active:before {
	content: '\00BB';
	padding-right: 6px;
	margin-left: -15px;
}

/* search bar */

form {
	margin-bottom: 30px;
}
input {
	font-family: 'junctionRegular';
	border: solid 1px #d8e3e8;
	background: white;
	color: #90989b;
	margin:0;
}

input[type=text] {
	height: 30px;
	width: 140px;
	padding: 0 5px;
	margin: 0 4px 0 0;
}

#search input[type=submit] {
	width: 60px;
	height: 32px;
	text-transform: uppercase;
	cursor: pointer;	
}


/* footer */
#mainFooter {
	clear: both;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) -10%,rgba(0,0,0,0) 3%), url(../img/footer-bg-repeat.png);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.7) -10%, rgba(0,0,0,0) 3%), url(../img/footer-bg-repeat.png);
	background: -o-linear-gradient(top, rgba(0,0,0,0.7) -10%,rgba(0,0,0,0) 3%), url(../img/footer-bg-repeat.png);
	background:	-ms-linear-gradient(top, rgba(0,0,0,0.7) -10%,rgba(0,0,0,0) 3%), url(../img/footer-bg-repeat.png);
	background:	linear-gradient(to bottom, rgba(0,0,0,0.7) -10%,rgba(0,0,0,0) 3%), url(../img/footer-bg-repeat.png);
	border-top: solid 1px #cfcfcf;
	width: 100%;
	height: 333px;
	/*box-shadow: inset 1px 4px 9px -6px; */
}

#mainFooter ul {
	width: 220px;
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
	margin-right: 20px;
}

#mainFooter li, 
#mainFooter li a, 
#mainFooter li:before {
	color: #4c4c4c;
}

#logoFooter {
	background: url('../img/messina-logo.png');
	opacity: 0.17;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 179px;
	height: 75px;
	position: absolute;
	right: 0;
	top: 35px;
}

/* hidden */

.hidden {
	position: fixed;
	top: -999px;
}
